<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
  <h1>Diset(Discord連携)ができました！登録が一兆倍早くなりますね！</h1>
  アバター&nbsp;:&nbsp;<img src="https://cdn.discordapp.com/avatars/<%= userData.discord_id %>/<%= userData.avatar %>.jpg" height="30" width="30"><br>
  ID&nbsp;:&nbsp;<input type="text" value="<%= userData.id %>"><br>
  名前(ニックネーム)&nbsp;:&nbsp;<input type="text" value="<%= userData.name %>"><br>
  メールアドレス&nbsp;:&nbsp;<input type="text" value="<%= userData.email %>"><br>
</body>
</html>